<h2>Comments</h1>

<%= link_to 'New Comment', new_post_comment_path(@post), :class => 'btn btn-primary' %>

<div class="container">
  <div class="">
    <% @comments.each do |comment| %>
      <div>
        <h2><%= comment.title %></h3>
        <div><%= comment.body %></div>
        <div><%= comment.author.email %></div>
        <div><%= comment.created_at.to_time.strftime('%a %b %d %Y %l:%M %p') %></div>
        <% if comment.author_id == current_user.id %>
          <%= link_to 'Show', post_comment_path(@post, comment) %>
          <%= link_to 'Edit', edit_post_comment_path(@post, comment) %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
