<h2>Comments</h1>

<%= link_to 'New Comment', new_post_comment_path(@post), :class => 'btn btn-primary' %>

<div class="container">
  <div class="">
    <% @comments.each do |comment| %>
      <div>
        <h2><%= comment.title %></h3>
        <div><%= comment.body %></div>
        <% if comment.author.first_name != '' && comment.author.last_name != ''%>
          <div><%= "#{comment.author.first_name} #{comment.author.last_name}"%></div>
        <% elsif comment.author.first_name != '' %>
          <div><%= "#{comment.author.first_name}" %></div>
        <% elsif comment.author.last_name != ''%>
          <div><%= "#{comment.author.last_name}" %></div>
        <% elsif comment.author.username != '' %>
          <div><%= "#{comment.author.username}" %></div>
        <% else %>
          <div><%= comment.author.email %></div>
        <% end %>
        <div><%= comment.created_at.to_time.strftime('%a %b %d %Y %l:%M %p') %></div>
        <% if comment.author_id == current_user.id %>
          <%= link_to 'Show', post_comment_path(@post, comment) %>
          <%= link_to 'Edit', edit_post_comment_path(@post, comment) %>
          <%= link_to 'Delete', [@post, comment], method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
