<div>
  <h3><%= link_to post.title, post %></h3>
  <div><%= post.body %></div>
  <div><%= post.author.email %></div>
  <div><%= post.created_at.to_time.strftime('%a %b %d %Y %l:%M %p') %></div>
  <% if post.author_id == current_user.id %>
    <%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
  <div class="comment-counter">
    <%= pluralize(post.comments.count, "Comment") %>
  </div>
  <a href="#" data-toggle="modal" data-target="#comment-modal">Add comment</a>
</div>

<%= render partial: '/comments/form', locals: {post: post, comment: post.comments.build, action_name: 'Add', cta: 'Add Comment'} %>
