<% if @post.author_id == current_user.id %>
<%= link_to 'Edit', edit_post_path(@post), :class => 'btn btn-default' %>
<%= link_to 'Delete', @post, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-default' %>
<% end %>
<%= link_to 'Back', posts_path, :class => 'btn btn-default' %>

<div class="container">
  <div class="posts-section">
    <div>
      <h2><%= link_to @post.title, @post %></h2>
      <div><%= @post.body %></div>
      <div><%= @post.author.email %></div>
      <div><%= @post.created_at.to_time.strftime('%a %b %d %Y %l:%M %p') %></div>
    </div>
    <div class="comments-section">
      <div class="">
        <%= "#{@post.comments.count} Comments" %>
      </div>
      <button class="btn btn-primary" data-toggle="modal" data-target="#commentModal">
        Add a comment
      </button>
      <% @post.comments.each do |comment| %>
        <div>
          <h5><%= comment.title %></h5>
          <div><%= comment.body %></div>
          <div><%= comment.author.email %></div>
          <div><%= comment.created_at.to_time.strftime('%a %b %d %Y %l:%M %p') %></div>
          <% if comment.author_id == current_user.id %>
            <%= link_to 'Show', post_comment_path(@post, comment) %>
            <%= link_to 'Edit', edit_post_comment_path(@post, comment) %>
          <% end %>
        </div>
      <% end %>

      <div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="commentModal" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="myModalLabel">Add a comment</h4>
            </div>
            <div class="modal-body">
              <%= render partial: '/comments/form', locals: {post: @post, comment: @post.comments.build} %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
