<% if @post.author_id == current_user.id %>
<a href="#" data-toggle="modal" data-target="#post-modal" class="btn btn-default">Edit</a>
<%= link_to 'Delete', @post, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-default' %>
<% end %>
<%= link_to 'Back', posts_path, :class => 'btn btn-default' %>

<div class="container">
  <div class="posts-section">
    <div>
      <h2><%= link_to @post.title, @post %></h2>
      <div><%= @post.body %></div>
      <div><%= @post.author.email %></div>
      <div><%= @post.created_at.to_time.strftime('%a %b %d %Y %l:%M %p') %></div>
    </div>
    <div class="comments-section">
      <div class="comment-counter">
        <%= pluralize(@post.comments.count, "Comment") %>
      </div>
      <button class="btn btn-primary" data-toggle="modal" data-target="#comment-modal">
        Add comment
      </button>
      <% @post.comments.each do |comment| %>
        <div>
          <h5><%= comment.title %></h5>
          <div><%= comment.body %></div>
          <div><%= comment.author.email %></div>
          <div><%= comment.created_at.to_time.strftime('%a %b %d %Y %l:%M %p') %></div>
          <% if comment.author_id == current_user.id %>
            <%= link_to 'Show', post_comment_path(@post, comment) %>
            <%= link_to 'Delete', [@post, comment], method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= render partial: '/comments/form', locals: {post: @post, comment: @post.comments.build, action_name: 'Add', cta: 'Add Comment' } %>
<%= render partial: '/posts/form', locals: { post: @post, action_name: 'Edit', cta: 'Save Edits'} %>
