<% if @post.author_id == current_user.id %>
<%= link_to 'Edit', edit_post_path(@post), :class => 'btn btn-default' %>
<%= link_to 'Delete', @post, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-default' %>
<% end %>
<%= link_to 'Back', posts_path, :class => 'btn btn-default' %>

<div class="container">
  <div class="posts-section">
    <div>
      <h2><%= link_to @post.title, @post %></h2>
      <div><%= @post.body %></div>
      <div><%= @post.author.email %></div>
      <div><%= @post.created_at.to_time.strftime('%a %b %d %Y %l:%M %p') %></div>
    </div>
    <div class="comments-section">
      <div class="">
        <%= "#{@post.comments.count} Comments" %>
      </div>
      <%= link_to 'Add comment', new_post_comment_path(@post), :class => 'btn btn-primary' %>
      <% @post.comments.each do |comment| %>
        <div>
          <h5><%= comment.title %></h5>
          <div><%= comment.body %></div>
          <div><%= comment.author.email %></div>
          <div><%= comment.created_at.to_time.strftime('%a %b %d %Y %l:%M %p') %></div>
          <% if comment.author_id == current_user.id %>
            <%= link_to 'Show', post_comment_path(@post, comment) %>
            <%= link_to 'Edit', edit_post_comment_path(@post, comment) %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
